.contacto{
    align-items: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
        border-radius: 4px;
        padding: 3rem 1.5rem 0.5rem 1.5rem;
        overflow: hidden;
        background-color: $primary-color;
    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    &-lista{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
    }
}

